.leading-icon {
    display: flex;
    height: 1.25rem;
    width: max-content;
    height: 1.5rem;
}

.btn-content {
    padding-top: 2px;
}

.retro {
    font-family: var(--font-ibm-mono);
}

.btn {
    --color: var(--copy-color);
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: max-content;
    padding: 0.5rem;
    box-sizing: border-box;
}

.bp-button {
    --svg-stroke-color: var(--color, var(--copy-color-muted));
    color: var(--color, var(--copy-color-muted));
    font-family: var(--font-ibm-mono);
    cursor: pointer;
    width: max-content;
    border-radius: 0.125rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: var(--_btn-background-color, var(--background-color));
    z-index: 1;
    transition: background 200ms ease, box-shadow 184ms ease;

    &.vertical-button {
        writing-mode: sideways-lr;

        @supports not (writing-mode: sideways-lr) {
            writing-mode: tb;
            transform: rotate(180deg);
        }
    }

    &.condensed {
        padding: 0.25rem 0.5rem calc(2px + 0.25rem) 0.5rem;
    }

    &.micro {
        padding: 0.125rem 0.25rem calc(2px + 0.125rem) 0.25rem;
        font-size: 0.75rem;
        line-height: 112%;

        &>.feather {
            margin-top: 2px;
            height: 16px;
            width: 16px;
        }
    }

    &:hover {
        background-color: var(--hover-color);
    }

    &:focus:not(:active) {
        outline: 1px dashed var(--focus-border-color);
        outline-offset: -1px;
    }

    &.disabled {
        pointer-events: none;
        background: var(--disabled-background-color);
        color: var(--disabled-color);
        border-color: var(--disabled-border-color);
        --icon-color: var(--disabled-color);
    }

    &:not(.ghost, .disabled) {
        box-shadow: 0px 1px 2px 0px hsla(216, 39%, 16%, 0.12);

        &[no-shadow="true"] {
            box-shadow: none;
        }
    }

    &.filled {
        --color: var(--S-40);
        --_btn-background-color: var(--primary-color-base);
        --active-color: hsla(var(--primary-color-darker-2-partial), 1);
        --hover-color: hsla(var(--primary-color-darker-1-partial), 1);
        --border-color: var(--primary-color-base);

        --focus-border-color: hsla(var(--primary-color-base-partial), 0.6);
        --disabled-background-color: var(--grey-10);
        --disabled-color: var(--grey-50);
        --disabled-border-color: var(--grey-10);
    }

    &.outline {
        --color: var(--copy-color-muted);
        --active-color: var(--primary-color-lighter-1);
        --hover-color: var(--S-35);
        --_btn-background-color: transparent;
        --border-color: var(--grey-80);

        --focus-border-color: var(--primary-color-base);
        --disabled-background-color: transparent;
        --disabled-color: var(--grey-50);
        --disabled-border-color: var(--grey-20);

        &.active {
            --_btn-background-color: var(--grey-80);
        }
    }

    &.ghost {
        --svg-stroke-color: var(--copy-color-muted);
        --active-color: var(--primary-color-lighter-1);
        --hover-color: var(--grey-80);
        --border-color: transparent;
        --_btn-background-color: transparent;

        --focus-border-color: var(--primary-color-base);
        --disabled-background-color: var(--grey-90);
        --disabled-color: var(--grey-70);
        --disabled-border-color: transparent;
    }

    &.neutral {
        --color: var(--copy-color);
        --active-color: hsla(var(--primary-color-darker-2-partial), 1);

        &:hover {
            --color: hsla(var(--primary-color-darker-1-partial), 1);
        }
    }
}


.text {
    --active-color: transparent;
    --hover-color: transparent;
    --_btn-background-color: transparent;
    --color: var(--primary-color-base);
    --disabled-background-color: transparent;
    --disabled-color: var(--grey-50);
    --disabled-border-color: transparent;

    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }
}

.active {
    --active-color: var(--S-35);
    --_btn-background-color: var(--active-color);

    &:not(.ghost) {
        box-shadow: 0px 0px 1px 0px rgba(5, 59, 97, 0.12);
    }

    &.filled:hover {
        --hover-color: hsla(var(--primary-color-30-partial), 0.6);
    }

    &:focus {
        --focus-border-color: var(--primary-color-base);
    }
}

.rounded {
    --border-radius: 4em;

    &:focus::before {
        border-radius: 4em;
    }
}

.fill-content {
    width: 100%;
}

.disabled,
[disabled="true"] {
    --color: var(--disabled-color);
    pointer-events: none;
    background-color: var(--disabled-background-color);
    border: var(--disabled-border-color);
}

button.btn.destructive {
    --color: var(--error-color-base);
    --active-color: var(--error-color-border);
    --hover-color: var(--error-color-light);
    --border-color: var(--error-color-border);
    --_btn-background-color: transparent;

    --focus-border-color: var(--primary-color-base);
    --disabled-background-color: transparent;
    --disabled-color: var(--grey-50);
    --disabled-border-color: transparent;
}