@use '../01-config/mixins.module';

//remove default counter buttons
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

label,
.label {
    display: flex;
    width: max-content;
    font-size: 0.875rem;

    &.mimic {
        all: inherit;
        border: 0;

        &>.control {
            all: inherit;
            border: 0;
            padding: 0;

            &:hover,
            &:focus {
                background-color: var(--grey-92);
            }
        }
    }

    &>.control:not(.button-wrapper) {
        background-color: var(--input-background-color);
        padding: var(--input-padding);
        border: 1px solid var(--input-border-color);
        border-radius: 4px;
        font-size: 0.825rem;
        color: var(--copy-color);
        font-family: inherit;

        @include mixins.mediaPhone('max') {
            font-size: 16px;
        }
    }

    &.condensed {
        --input-padding: var(--input-padding-condensed);
    }

    &.error {
        color: var(--error-color-base);
        --input-border-color: var(--error-color-border);
    }

    &.retro {

        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.16px;
        font-family: var(--font-ibm);
        background-color: var(--calculator-screen-background);
        background-blend-mode: color-dodge;
        padding: 0.75rem;
        gap: 0.5rem;
        height: 100%;

        &>.control-label,
        &>label {
            letter-spacing: 0.075em;
            text-transform: uppercase;
            color: var(--S-05);
            text-shadow: 0 1px 2px black;
        }

        &:hover {
            background-color: var(--grey-92);
        }

        &>textarea.control {
            resize: none;
            max-height: 4.125rem;
            overflow-y: auto;
        }

        &:not(:has(.button-wrapper)):focus-within {
            outline: 2px solid var(--focus-border-color);
            outline-offset: -2px;
            border-radius: 4px;
        }

        &>.control:not(.button-wrapper) {
            color: var(--S-02);
            text-shadow: 0 1px 2px black;
            border-radius: 0;
            color: var(--copy-color);
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            /* 128.571% */
            letter-spacing: 0.16px;
            cursor: initial;
            background-color: transparent;
            border: none;
            padding: 0;

            &:focus {
                outline: none;
            }

        }

        &.vertical {
            gap: 0.5rem;
            flex-direction: column;
        }

        &.horizontal {
            gap: 0.5rem;
        }
    }

    &:has(.control[readonly]) {
        cursor: default;

        &>.control {
            background-color: var(--grey-90);
        }
    }

    &.vertical {
        gap: 0.25rem;
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}

.bp-input {
    &.vertical {
        gap: 0.5rem;
        flex-direction: column;
    }

    &.horizontal {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }
}


label.fill-content,
label.fill-content>.control,
.label.fill-content,
.label-fill-content>.control {
    width: 100%;
}

.control:focus {
    outline-offset: -2px;
    outline: solid 2px var(--primary-color-base);
}

.control:hover {}

.error-text {
    color: var(--error-color-base);
}

.helper-text {
    color: var(--copy-color-muted);
    font-size: 0.75rem;
}

.helper-content {
    display: flex;

    &:empty {
        display: none;
    }

    & *+* {
        margin-left: auto;
    }
}