

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset {
    margin: 0;
    border: 0.5px solid var(--B-40);
    padding: 0.25rem 0.75rem 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

fieldset.retro-form {
    display: grid;
    gap: 1px;
    padding: 0;

    &>.control {
        background-color: var(--background-color);
    }

    &.calculator-screen>.control {
        background-color: var(--calculator-screen-background);
    }
}

legend {
    color: var(--copy-color);
    font-family: var(--font-ibm-mono);
    padding: 0.25rem 0.5rem;
}

menu {
    margin: 0;
    padding: 0;

    & li {
        list-style: none;
    }
}

table {}

tbody {}

thead {}

th {}

td {
    color: var(--copy-color-muted);
}

figure {
    margin: 0;
}

br {
    border-color: red;
}

.invisible-element {
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
    transform: translate(-9999px, -9999px);
    overflow: hidden;
    opacity: 0;
}

.calculator-screen {
    border-radius: 0.675rem;
    border: 4px double var(--S-35);
    isolation: isolate;
    overflow: clip;
    position: relative;
    outline: 4px solid hsl(0, 0%, 0%, 0.333);
    outline-offset: -6px;

    &:after {
        // filter: url(#noiseFilter) invert(1) contrast(1);
        background-color: var(--S-35);
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

.inline-form-action-buttons {
    background-color: var(--calculator-screen-background);
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}